# Infrastructure
COMPOSE_PROJECT_NAME=elt

# PostgreSQL
POSTGRES_PORT=5432

# ClickHouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

# Dagster
DAGSTER_PORT=3000

# Application
ENV=prod
MKPIPE_MAX_CONCURRENT=4
MKPIPE_MAX_CONCURRENT_HEAVY=1
