pyspark==4.1.1
pandas
numpy
pytest
ruff
# dbt
dbt-core==1.10.19
dbt-clickhouse>=1.8
# mkpipe
mkpipe>=0.7.17
mkpipe[postgres-backend]
mkpipe-extractor-bigquery>=0.4.5
mkpipe-loader-clickhouse>=0.6.6
# dagster
dagster>=1.9
dagster-webserver>=1.9
dagster-postgres>=0.25
dagster-dbt>=0.25
